# --- Spring Boot ---
HELP.md
target/
build/
out/
.gradle/
bin/
!gradle/wrapper/gradle-wrapper.jar

# --- 설정 파일 (보안!!) ---
application.properties
application.yml
*.log

# --- IntelliJ/IDE ---
.idea/
*.iml
*.iws
.vscode/

# --- Mac OS ---
.DS_Store