name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend
        run: |
          docker build -t so0omin/backend ./backend
          docker push so0omin/backend

      - name: Build and Push Frontend
        run: |
          docker build -t so0omin/frontend ./frontend
          docker push so0omin/frontend

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/KinoProject
            # .env 파일 생성 (변수 주입)
            echo "RDS_PASSWORD=${{ secrets.RDS_PASSWORD }}" > .env
            echo "RDS_USERNAME=${{ secrets.RDS_USERNAME }}" >> .env
            echo "RDS_HOST=${{ secrets.RDS_HOST }}" >> .env
            
            # 최신 이미지 받고 컨테이너 재시작
            sudo docker pull so0omin/backend
            sudo docker pull so0omin/frontend
            sudo docker-compose down
            sudo docker-compose up -d